
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <title>Jack Fordyce</title>
    </head>
    <body>
			<nav class="navbar">
			  	<form target="" class="form-inline" action="/">
						<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">JMF</button>
					</form>
						<div class="text-right row">
			  		<form target="" class="form-inline" action="/about/">
							<button class="btn btn-outline-dark my-2 my-sm-0 right-btn" type="submit">About</button>
						</form>
			  		<form target="_blank" class="form-inline" action="/resume/">
							<button class="btn btn-outline-dark my-2 my-sm-0 right-btn" type="submit">Resume</button>
						</form>
					</div>
			</nav>
			<hr id="top">
      	<div id="total-cont">
      		<div class="container-fluid">
              <h1 id="about-header">About Me</h1>
							<hr id="about-hr">
					</div>
				</div>
			</hr>
	</body>
