<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <title>Jack Fordyce</title>
    </head>
    <body>
			<nav class="navbar justify-content-between">
		  	<a class="navbar-brand">JMF</a>
				<div class="d-flex justify-content-center">
		  		<a id="hi" class="navbar-brand">Hi!</a>
				</div>
			  	<form class="form-inline">
						<button type="button" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Resume</button>
					</form>
			</nav>
        <div class="container-fluid">
            <div class="row" id="top-level">
                <div class="col">
                    <h1 id="name-header">Jack Fordyce</h1>
                    <h3 id="title-header">Software Engineer</h3>
                    <a href="mailto:jackmitchellfordyce@gmail.com" target="_blank" id="mail-link"><img class="mail-btn" src="../static/img/emailpic.png"></a>
                		<a href="https://github.com/jackmford" target="_blank" id="git-link"><img class="imglink" src="../static/img/Octocat.jpg"></a>
										<hr>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="about-me">
                <div class="col">
                <h5>About Me</h5>
                </div>
            </div>
        </div>
    </body>
