<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <title>Jack Fordyce</title>
    </head>
    <body>
			<nav class="navbar">
			  	<form target="" class="form-inline" action="/">
						<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">JMF</button>
					</form>
						<div class="text-right row">
			  		<form target="" class="form-inline" action="/about/">
							<button class="btn btn-outline-dark my-2 my-sm-0 right-btn" type="submit">About</button>
						</form>
			  		<form target="_blank" class="form-inline" action="/resume/">
							<button class="btn btn-outline-dark my-2 my-sm-0 right-btn" type="submit">Resume</button>
						</form>
					</div>
			</nav>
				<hr id="top">
        <div id="total-cont">
        <div class="container-fluid">
            <div class="row top-marg" >
                <div class="col"id="top-level">
                    <img id="prof-pic" src="../static/img/cartoonprof.png">
                    <h1 id="name-header">Jack Fordyce</h1>
                    <h3 id="title-header">Software Engineer</h3>
                    <a href="mailto:jackmitchellfordyce@gmail.com" target="_blank" id="mail-link"><img class="mail-btn" src="../static/img/emailpic.png"></a>
                		<a href="https://github.com/jackmford" target="_blank" id="git-link"><img class="git-btn" src="../static/img/octos.png"></a>
                    <a href="https://www.linkedin.com/in/jackmitchellfordyce/" target="_blank" id="linked-link"><img class="linked-btn" src="../static/img/linkedin.png"></a>
										<hr>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="proj-container">
          <div class="row" id="projs">
            <div class="col">
              <h4 id="proj-title">Things I've Done!</h4>
            </div>
          </div>
        </div>

        <div class="container-fluid" id="proj-desc-container">
            <div class="row proj-row">
                <div class="col-sm-6 project-des">
                  <p class="proj-p-title">Canvas Assistant</p>
                </div>
                <div class="col-sm-6 project-exp">
                  <p class="proj-p-des">Canvas Assistant was built to combine the functionality of the Google Assistant with the Canvas application used by many college campuses throughout the country. It was created using a combination of Dialogflow (NodeJS) for natural language processing, Python Flask for web application based user-enrollment, and Google's Realtime DB for data storage. The project allowed students to be able to verbally communicate with their Canvas account, being able to ask what assignments they had due, what was on their schedule, or if they had any pending notifications.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="proj-desc-container">
            <div class="row proj-row">
                <div class="col-sm-6 project-des">
                  <p class="proj-p-title">CMSC491 - SPE</p>
                </div>
                <div class="col-sm-6 project-exp">
                  <p class="proj-p-des">This stream processing engine was built by a team of seven computer science students at Buena Vista University as well as Dr. Nathan Backman. The application is able to process streams of data through various components, tests wrote by the team included things such as vowel_counter, average_aggregation, and Farenheit_to_Celsius. The engine's main function was to process chunks of Minecraft data and return the xyz position of the closest specified block to the player in any given world, using realtime live data streams from the Minecraft game itself. 
                  </p>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="proj-desc-container">
            <div class="row proj-row">
                <div class="col-sm-6 project-des">
                  <p class="proj-p-title">Find Me A Dentist</p>
                </div>
                <div class="col-sm-6 project-exp">
                  <p class="proj-p-des">Google Assistant Action that allows users to find the nearest dental provider that complies with Principal Financial insurance. Can query based on dental specialty such as orthodontist or dental surgeon. Will locate and repeat back the name, location, and driving distance to provider. Winning project of Principal Financial 2019 Summer Code Jam.
                  </p>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="proj-desc-container">
            <div class="row proj-row">
                <div class="col-sm-6 project-des">
                  <p class="proj-p-title">Computer-Reservation</p>
                </div>
                <div class="col-sm-6 project-exp">
                  <p class="proj-p-des">Flask/React application to allow students at Buena Vista University to reserve computers in the High Performance Computing Laboratory. Includes full user authentication and an interactive user interface that displays if computers are reserved. If a computer is free, allows a user to reserve it for a specified amount of time.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="proj-desc-container">
            <div class="row proj-row">
                <div class="col-sm-6 project-des">
                  <p class="proj-p-title">Finger Game</p>
                </div>
                <div class="col-sm-6 project-exp">
                  <p class="proj-p-des">Web application that utilizes self-trained object detection to identify the number of fingers a user is holding up to the webcam. Included usage of Flask, Javascript, Bulma CSS, and several Python libraries to train the finger-tip detector. Hack ISU 2018 project written with Zachary Macke, John Jago, and Sandeep Yeturu.</p>
                </div>
            </div>
        </div>

        </div>
    </body>
